
<!DOCTYPE html>

<html>
	<head>
		<title>Tyler's Code Base</title>

		<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
		<link rel="stylesheet" type="text/css" href="/public/css/styles.css">
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0"/>

		<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
	<head>

	<body>
		<header>
			<div id="title" class="title"><h1>Tyler's Code Base</h1></div>
			<nav>
				<a href="javascript:void(0)" data-page="home">Home</a>
				<a href="javascript:void(0)" data-page="projects">Projects</a>
				<a href="javascript:void(0)" data-page="sge">Super Glitch Engine</a>
				<a href="http://teamtyro.com/">Team Tyro</a>
				<a href="http://github.com/Velovix">Github</a>
			</nav>
		</header>

		<article></article>

		<footer>
			Tyler Compton 2013 (c)
		</footer>
	</body>

	<script>

	var textBannerWidth = 0

	function loadPage(page) {
		$.get("/public/ajax/"+page+".html", function(data) {
			$('article').fadeOut(200, function() {
				$('article').html(data)
				$('article').fadeIn()
			})
		})
	}

	jQuery(document).ready(function() {

	loadPage('home')

	var textBanner = new Image()
	textBanner.onload = function() {
		textBannerWidth = textBanner.width
	}
	textBanner.src = '/public/images/TextBanner.png'

	$('a').on('click', function() {
		if($(this).data('page') == null) {
			return
		}

		loadPage($(this).data('page'))
	})

	$(window).resize(function() {
		if($(window).width() < textBannerWidth) {
			$('#title').attr('class', 'mobile-title')
		} else if($('#title').attr('class') == 'mobile-title') {
			$('#title').attr('class', 'title')
		}
	})

	})
	</script>

</html>
