@import url(http://fonts.googleapis.com/css?family=Play|Open+Sans:400italic,400,700);

/* Reset CSS */
* {
	padding:0; margin:0; font-size:1em;
}

body {
	background-color:black;
	color:white;

	background-image:url('/public/images/LeftBackground.png'), url('/public/images/RightBackground.png');
	background-attachment:fixed, fixed;
	background-position:left, right;
	background-repeat:repeat-y, repeat-y;

	height:100%;
}

p {
	margin-bottom:1.25em;
}

header {
	text-align:center;

	font-family: 'Play', sans-serif;
}

header div.title {
	background-image:url('/public/images/TextBanner.png');
	background-repeat:no-repeat;

	width:504px;
	height:96px;

	display:inline-block;
	vertical-align:middle;
}

header .title h1,.mobile-title h1 {
	font-size:32px;
	padding-top:8px;
	margin-top:16px;
	vertical-align:middle;
	text-shadow: 2px 2px rgba(0, 0, 0, 0.5);
}

header nav {
	margin-top:0.6em;
	font-size:1.1em;
}

header nav a {
	margin-left:0.6em;
	margin-right:0.6em;
	text-decoration:none;
}

a:link {
	color:#99cc66;
}

a:visited {
	color:#99cc66;
}

a:hover {
	color:#B0F880;
	text-decoration:underline;
}

a:active {
	color:#385000;
}

a.inactive:link {
	color:white;
}

a.inactive:visited {
	color:white;
}

a.inactive:hover {
	color:white;
	text-decoration:none;
}

a.inactive:active {
	color:white;
}

article {
	font-family: 'Open Sans', sans-serif;

	margin-top:1.5em;
	max-width:800px;

	margin-left:auto;
	margin-right:auto;
}

article p.images {
	text-align:center;
}

footer {
	text-align:center;
}

div.code {
	font-family:"Courier New", Courier, monospace;

	background-color:#F0F0F0;

	padding:0.5em;

	border-radius:0.5em;
	border-style:solid;
	border-width:0.1em;
	border-color:#B1B1B1;
	color:black;
}

div.tabbed {
	margin-left:4em;
}
